<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]+)$ $1.html
RewriteRule ^([a-z-]+)/([a-z-]+)$ $1/$2.html

</IfModule>