//Variables js

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "../js/efects_gral.js";
-var js_urls = "../js/uris_headers.js";
-var base_style = "../css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la p치giana actual
-var meta_titlePage ="ISSDOnline 游볞 - Tipos de goles";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "郊율SSDOline aprende a realizar una gran variedad de goles para que tengas m치s oportunidad de vender a tu rival";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd, tipos de goles";
-var meta_ogImage = "../images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) M치s informaci칩n
<!DOCTYPE html>

html(lang="es")
    head
        include ../inc/head.pug
        
    body(class="")
        #container
            include ../inc/header.pug
            main
                section.main__section
                    article.main__section__article  
                        h1(class="font-black text-3xl mb-10") Repertorio de goles en ISSD
                        .container_tips_cards
                            .__tip_card
                                .__tip_card_video
                                    .container_video.m-auto.text-center
                                        .__video
                                            iframe(width='560' height='315' src='https://www.youtube.com/embed/UacNoC-09Ts?si=nt1vbMAu-vNBfN9I' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
                                    .__tip_card_tittle
                                        h3 Tipos de Goles
                                    .__tip_card_desc
                                        p Conoce algunos de los goles que puedes realizar en este juego.
                        

                        

                            
        include ../inc/footer.pug