//Variables js
//- ul.lista_canales_usuarios>(li>((div.__container--img>figure>img)+(div.container--info>(h2{Nombre del canal}+h3{subtitulo}+{descripci칩n}+a))))*10

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "./js/efects_gral.js";
-var js_urls = "./js/uris_headers.js";
-var base_style = "./css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la p치giana actual
-var meta_titlePage ="ISSDOnline 游볞 - Canales de jugadores";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "郊율SSDOline canales de jugadores de issd en youtube twitch facebook";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd";
-var meta_ogImage = "./images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) M치s informaci칩n
<!DOCTYPE html>

html(lang="es")
    head
        include inc/head.pug    
    body(class="")
        #container(class="min-h-screen")
            include inc/header.pug
            main
                section.main__section
                    article.main__section__article  
                        h1(class="font-black text-3xl mb-10") Canales de jugadores de ISSD

                        ul.lista_canales_usuarios
                            li
                                .__container--info
                                    h2 Hola, yo soy #[span Nick Fury]
                                    h3 El mejor de mi barrio en ISSD
                                    p Un poco de aqu칤 y de all치.
                                    span.url_box 
                                        a(href="") www.issdonline.org
                                .__container--img
                                    figure
                                        img(src="./images/avatar_issd.png", width="100" height="130" alt="avatar_jugador_issd")
                                
                            li
                                .__container--info
                                    h2 Hola, yo soy #[span Nick Fury]
                                    h3 El mejor de mi barrio en ISSD
                                    p Un poco de aqu칤 y de all치.
                                    span.url_box 
                                        a(href="") www.issdonline.org
                                .__container--img
                                    figure
                                        img(src="./images/avatar_issd.png", width="100" height="130" alt="avatar_jugador_issd")
                            
                            li
                                .__container--info
                                    h2 Hola, yo soy #[span Nick Fury]
                                    h3 El mejor de mi barrio en ISSD
                                    p Un poco de aqu칤 y de all치.
                                    span.url_box 
                                        a(href="") www.issdonline.org
                                .__container--img
                                    figure
                                        img(src="./images/avatar_issd.png", width="100" height="130" alt="avatar_jugador_issd")
                            
                            li
                                .__container--info
                                    h2 Hola, yo soy #[span Nick Fury]
                                    h3 El mejor de mi barrio en ISSD
                                    p Un poco de aqu칤 y de all치.
                                    span.url_box 
                                        a(href="") www.issdonline.org
                                .__container--img
                                    figure
                                        img(src="./images/avatar_issd.png", width="100" height="130" alt="avatar_jugador_issd")
                            
                            li
                                .__container--info
                                    h2 Hola, yo soy #[span Nick Fury]
                                    h3 El mejor de mi barrio en ISSD
                                    p Un poco de aqu칤 y de all치.
                                    span.url_box 
                                        a(href="") www.issdonline.org
                                .__container--img
                                    figure
                                        img(src="./images/avatar_issd.png", width="100" height="130" alt="avatar_jugador_issd")


        include inc/footer.pug