-//Variables js

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "./js/efects_gral.js";
-var js_urls = "./js/uris_headers.js";
-var base_style = "./css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la p谩giana actual
-var meta_titlePage ="ISSDOnline  - Home";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "ISSDOline informaci贸n para poder jugar en linea con otras personas este majestuoso cl谩asico de snes";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd";
-var meta_ogImage = "./images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) M谩s informaci贸n

<!DOCTYPE html>

html(lang="es")
  head
    include inc/head.pug
  body(class="")
    #container
      include inc/header.pug
      main
        section.main__section
            article.main__section__article
                h2(class="font-bold text-5xl text-center text-red-500 mb-10") 驴C贸mo jugar ISSD de forma online?
                p.font-semibold.mb-6 Para poder jugar contra otros jugadores necesitas 5 cosas:
                ul.custom-counter.my-colors
                    li Una Computadora de escritorio o laptop.
                    li Internet, buena conexi贸n para evitar lag.
                    li El programa Hamachi, link para descarga: #[b #[a(href="https://vpn.net/" title="Sitio de descargar Hamachi" rel="nofollow") https://vpn.net/]]
                    li Emulador Zsnesw versi贸n 1.42: #[b #[a(href="https://zsnes.com/index.php?page=files" title="Sitio de descarga Zsnesw" rel="nofollow") https://zsnes.com/index.php?page=files]]
                    li Rom o juego (debe de ser la misma versi贸n que el que usar谩 tu oponente, mismo nombre de archivo y extensi贸n.#[br]#[br]
                        p ROM ISSD versi贸n U: #[br] #[b #[a(href="https://romsmania.net/super-nintendo/rom-international-superstar-soccer-deluxe/" title="Sitio de descarga ROM International Superstar Soccer Deluxe (U)" rel="nofollow") https://romsmania.net/super-nintendo/rom-international-superstar-soccer-deluxe/]]

            article.article-main 
                h3.mt-10 Videotutoriales
                .content_videotutoriales(class="w-full my-0 mx-auto text-center")
                    .videotutorial-min.my-colors
                        ._video_container 
                            .__video
                                iframe( width='560' height='315' src='https://www.youtube.com/embed/0WX0iNA3nbk?si=M8HpChzLVYLYwNg3' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')

                            .__titulo_video                    
                                .title-videotutorial
                                    span Instalaci贸n de Hamachi
                    .videotutorial-min.my-colors
                        ._video_container 
                            .__video
                                iframe(width='560' height='315' src='https://www.youtube.com/embed/hOabtBU1wmc?si=1WyMN9jQX1TBSkNB' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')


                            .__titulo_video                    
                                .title-videotutorial
                                    span Configuraci贸n de Zsnesw 1.42
                    .videotutorial-min.my-colors
                        ._video_container 
                            .__video
                                iframe(width='560' height='315' src='https://www.youtube.com/embed/MCOIll_f_8w?si=Uh5yvFCuS1LA_CMB' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')

                            .__titulo_video                    
                                .title-videotutorial
                                    span Como conectar Zsnesw para jugar con otro jugador
                    
                    
            article.article-main 
                h2(class="font-bold 2xl text-left text-red-500") Otros archivos/ roms personalizados de  ISSD
          
                    

    include inc/footer.pug