//Variables js

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "./js/efects_gral.js";
-var js_urls = "./js/uris_headers.js";
-var base_style = "./css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la p谩giana actual
-var meta_titlePage ="ISSDOnline  - FAQ";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "ISSDOline informaci贸n para poder jugar en linea con otras personas este majestuoso cl谩asico de snes";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd";
-var meta_ogImage = "./images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) M谩s informaci贸n
<!DOCTYPE html>

html(lang="es")
    head
        include inc/head.pug
        
    body(class="")
        #container(class="min-h-screen")
            include inc/header.pug
            main
                section.main__section 
                    article.main__section__article
                        h1(class="font-bold 2xl") Preguntas y dudas frecuentes con respecto a ISSD Online
                        .faq-content
                            .max-w-screen-xl.mx-auto.px-5.bg-white.min-h-sceen
                                .flex.flex-col.items-center
                                    h2.font-bold.text-5xl.mt-5.tracking-tight
                                    | FAQ
                                    p.text-neutral-500.text-xl.mt-3
                                    | Frequenty asked questions
                                .grid.divide-y.divide-neutral-200.max-w-xl.mx-auto.mt-8
                                    .py-5
                                        details.group
                                            summary.flex.justify-between.items-center.font-medium.cursor-pointer.list-none
                                                span  驴C贸mo puedo participar en los torneos?
                                                span.transition(class='group-open:rotate-180')
                                            svg(fill='none' height='24' shape-rendering='geometricPrecision' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewbox='0 0 24 24' width='24')
                                                path(d='M6 9l6 6 6-6')
                                            p.text-neutral-600.mt-3(class='group-open:animate-fadeIn')
                                                | Visita la secci贸n de #[a(href="./grupos-y-torneos-de-issd" title="seccion grupos y torneos de issd") #[b Grupos y torneos]] e ingresa en los grupos que desees para que puedas enterarte de torneos y puedas participar en ellos.
                                    .py-5
                                        details.group
                                            summary.flex.justify-between.items-center.font-medium.cursor-pointer.list-none
                                                span  驴C贸mo puedo jugar ISSD Online?
                                                span.transition(class='group-open:rotate-180')
                                            svg(fill='none' height='24' shape-rendering='geometricPrecision' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewbox='0 0 24 24' width='24')
                                                path(d='M6 9l6 6 6-6')
                                            p.text-neutral-600.mt-3(class='group-open:animate-fadeIn')
                                                | Necesitas una computadora con internet y descargar un par de programas. Visita la secci贸n #[a(href="./como-jugar-issd-online" title="secci贸n como jugar issd") #[b C贸mo jugar]] en d贸nde encontrar谩s instrucci贸nes y videotutoriales que te explicaran de manera clara como realizar este procedimiento y puedas  comenzar a jugar con otras personas. 

        include inc/footer.pug