html(lang="es")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./css/output.css')
    title ISSD ONLINE
  body 
    container.w-full.m-auto
      header(class="w-full bg-gradient-to-r from-green-600 via-lime-600 to-green-700 h-[450px] relative")
        //- .ima_bg(class="flex p-0 cover w-full box-content z-0")
        //-   img(src="./images/fondo_rayas_verdes.png")
        .cont_header.w-full.flex.gap-2.justify-around.align-middle(class="border-b-2 border-green-400 items-center z-10")
          .logo.p-2.flex.gap-2
            span(class="text-sky-100 font-bold text-2xl") ISSDOnline
          .menu.p-2
            .menu_burger
              .icon_burger  
              ul(class="flex gap-4 text-white text-lg")
                li
                  a(class="hover:link-hover") Home 
                li
                  a(class="hover:link-hover") Tutoriales 
                li
                  a(class="hover:link-hover") Tips 
                li
                  a(class="hover:link-hover") Links
                li
                  a(class="hover:link-hover") FAQ
        .hero(class='max-md:block max-md:p-1 max-w-7xl flex align-middle justify-center self-center p-10 m-auto')
          .text-main.self-center.justify-center.items-center.m-auto.p-2(class='w-8/12 max-md:w-full max-md:text-center')
            h1.text-4xl.text-center.font-bold.leading-normal.text-amber-300 INTERNATIONAL SUPERSTAR SOCCER DELUXE #[span(class="text-4xl text-amber-100") ONLINE]
          //- .ima-main.flex(class='w-8/12 max-md:w-full')
          //-   img.flex.m-auto(src='./images/issdeluxe_online_banner.jpg' alt='banner juego international superstar soccer deluxe' class='opacity-60')
      main.w-full
        .welcome.max-w-7xl.align-middle.justify-center.self-center.p-4.m-auto(class='max-md:block max-md:p-1')
          h2.text-2xl &iquest;C&Oacute;MO JUGAR ISSD ONLINE CON OTROS PLAYERS?
          p.text-xl
            | Aqu&iacute; te ense&ntilde;aremos c&oacute;mo jugar con otras personas este cl&aacute;sico juego retro y tambi&eacute;n rar tus habilidades. Te compartiremos enlaces de p&aacute;ginas de facebook y grupos de whatsapp en donde podr&aacute;s participar en los distintos torneos que apasionados de este juego organizan para esta gran comunidad.
        .sections-main(class="w-full text-center items-center gap-4 align-middle justify-center self-center p-4 m-auto")
          .boxmain
            h3(class="text-lg flex") Tutoriales 
            p ¿Quieres saber como jugar en linea, qué programas necesitas, emuladores, etc? Aquí te explicamos como.
          .boxmain
            h3(class="text-lg flex") Tips 
            p Te enseñamos a hacer algunas jugadas, como mejorar tu definición, tu defensa, manejar las estrategias.
          .boxmain
            h3(class="text-lg flex") Tips 
            p Te enseñamos a hacer algunas jugadas, como mejorar tu definición, tu defensa, manejar las estrategias.
          .boxmain
            h3(class="text-lg flex") Tips 
            p Te enseñamos a hacer algunas jugadas, como mejorar tu definición, tu defensa, manejar las estrategias.
          .boxmain
            h3(class="text-lg flex") Tips 
            p Te enseñamos a hacer algunas jugadas, como mejorar tu definición, tu defensa, manejar las estrategias.
          .boxmain
            h3(class="text-lg flex") Tips 
            p Te enseñamos a hacer algunas jugadas, como mejorar tu definición, tu defensa, manejar las estrategias.
          .boxmain
            h3(class="text-lg flex") Tips 
            p Te enseñamos a hacer algunas jugadas, como mejorar tu definición, tu defensa, manejar las estrategias.
      footer.bottom-0.bg-amber-500.text-center.font-bold.p-2
        w-full
          span &copy; ISSDOnline.org