html(lang="es")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./css/output.css')
    title ISSD ONLINE
  body 
    container.w-full.m-auto
      header.w-full
        .cont_header.w-full.flex.gap-2.justify-around.bg-gray-500.align-middle
          .logo.p-2
            span ISSDOnline
          .menu.p-2
            .menu_burger
              .icon_burger  
              ul.flex.gap-2
                li
                  a Home 
                li
                  a Tutoriales 
                li
                  a Tips 
                li
                  a Links
        .hero.max-w-7xl.bg-gray-200.flex.align-middle.justify-center.self-center.p-4.m-auto(class='max-md:block max-md:p-1')
          .text-main.self-center.justify-center.items-center.m-auto.p-2(class='w-4/12 max-md:w-full max-md:text-center')
            p.text-4xl.text-left.font-bold.leading-normal INTERNATIONAL SUPERSTAR SOCCER DELUXE ONLINE
          .ima-main.flex(class='w-8/12 max-md:w-full')
            img.flex.m-auto(src='./images/issdeluxe_online_banner.jpg' alt='banner juego international superstar soccer deluxe')
      main.w-full
        .welcome.max-w-7xl.align-middle.justify-center.self-center.p-4.m-auto(class='max-md:block max-md:p-1')
          h1.text-2xl &iquest;C&Oacute;MO JUGAR ISSD ONLINE CON OTROS PLAYERS?
          p.text-xl
            | Aqu&iacute; te ense&ntilde;aremos c&oacute;mo jugar con otras personas este cl&aacute;sico juego retro y tambi&eacute;n rar tus habilidades. Te compartiremos enlaces de p&aacute;ginas de facebook y grupos de whatsapp en donde podr&aacute;s participar en los distintos torneos que apasionados de este juego organizan para esta gran comunidad.
      footer.bottom-0.bg-red-500.text-center.font-bold
        w-full
          span &copy; ISSDOnline.org