//Variables js

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "./js/efects_gral.js";
-var js_urls = "./js/uris_headers.js";
-var base_style = "./css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la p치giana actual
-var meta_titlePage ="ISSDOnline 游볞 - Tips";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "郊율SSDOline informaci칩n para poder jugar en linea con otras personas este majestuoso cl치asico de snes";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd";
-var meta_ogImage = "./images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) M치s informaci칩n
<!DOCTYPE html>

html(lang="es")
    head
        include inc/head.pug
        
    body(class="")
        #container
            include inc/header.pug
            main
                section.main__section
                    h1(class="font-black text-3xl my-10") ISSDNews By Luchoag
                    article.main__section__article
                        h2.pb-8 Versi칩n en Espa침ol
                        .content_skill_cards
                            a(href="./images/issdnews_mayo_2023_no1.jpg" alt="imagen grande issd news mayo 2023")
                                .__skill_card
                                    .__skill_card_img.rounded-none
                                        img(src="./images/issdnews_mayo_2023_no1_sm.jpg", alt="Jugador brazil")
                                    .__skill_card_tittle
                                        h3 Mayo 2023 N춿 1
                            a(href="./images/issdnews_julio_2023_no2.jpg" alt="imagen grande issd news julio 2023")
                                .__skill_card
                                    .__skill_card_img.rounded-none
                                        img(src="./images/issdnews_julio_2023_no2_sm.jpg", alt="Jugador argentina")
                                    .__skill_card_tittle
                                        h3  Julio 2023 N춿2
                            a(href="")
                                .__skill_card
                                    .__skill_card_img.rounded-none
                                        img(src="./images/portero_01.png", alt="portero")
                                    .__skill_card_tittle
                                        h3 Octubre 2023 N춿3
                            a(href="./images/issdnews_diciembre_2023_no4.jpg" alt="imagen grande issd news diciembre 2023")
                                .__skill_card
                                    .__skill_card_img.rounded-none
                                        img(src="./images/issdnews_diciembre_2023_no4_sm.jpg", alt="Director tecnico")
                                    .__skill_card_tittle
                                        h3 Diciembre 2023 N춿4
        include inc/footer.pug