//Variables js

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "./js/efects_gral.js";
-var js_urls = "./js/uris_headers.js";
-var base_style = "./css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la págiana actual
-var meta_titlePage ="ISSDOnline 🥇 - Reglamento";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "▷ISSDOline información para poder jugar en linea con otras personas este majestuoso cláasico de snes";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd";
-var meta_ogImage = "./images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) Más información
<!DOCTYPE html>

html(lang="es")
    head
        include inc/head.pug
    body(class="")
        #container(class="min-h-screen")
            include inc/header.pug
            main
                .main__section.bg-slate-50.m-0
                    .main__section__article
                        .__article--reglas
                            h1.text-4xl.font-bold.text-gray-800.my-8.text-center Reglamento ISSD
                            p El siguiente es un reglamento general que puede ser usado en diferentes ligas o torneos de ISSD, aunque podrían haber variaciones dependiendo la liga o torneo.

                    .main__section__article
                        .__article--reglas
                            h2 Reglas básicas
                            h3.my-4 ¿ISSD Bugs o no Bugs?
                            p En toda comunidad que se juegue a nivel competitivo y no se considere n00b (o en peor de los casos Scrub), tenderá entonces a mejorar como tal. Para ello es necesario que los miembros de la comunidad desarrollen una mentalidad y/o actitudes que permitan esa mejora; muchas comunidades se ven mermadas por el simple hecho de inventar reglas o poner límites en los juegos -de nivel competitivo- en donde éstas no existen y en el peor de los escenarios Banear situaciones consideradas como trampa (en algunos casos la única forma de ganar en algunos juegos es a través de Glitches pero no es el caso del ISSD), es por ésta razón que quiero proponer una serie de parámetros para determinar de una vez por todas las jugadas que están permitidas y legalizar aquellas que erróneamente se han Baneado. Pero antes hay que detenerse un momento a desarrollar ciertos conceptos, que si bien algunos conocerán, no todos manejan:

                            span Bug según http://www.masadelante.com/faq-bug.htm es: “un error o un defecto en el software o hardware que hace que un programa funcione incorrectamente.”

                            span Glitch según http://es.wikipedia.org/wiki/Glitch es: “error que, al no afectar negativamente al rendimiento, jugabilidad o estabilidad del programa o juego en cuestión, no puede considerarse un bug, sino más bien una "característica no prevista".”

                            span una tercera fuente (http://www.modsxbox360.com/2008/12/0...-glitch-y-bug/) hace un paralelo entre ambos conceptos aplicados directamente en los juegos, a saber: “Glitch: Es simplemente un error de programación (he aquí la similitud con el bug) que afecta a un videojuego pero no de forma negativa si no que puede ser aprovechado por el jugador para su beneficio…”“Bug: El término se refiere principalmente a los errores de software o a un fallo que se da principalmente durante el desarrollo de un software…” “…En la mayoría de los casos los Bugs hacen que se traben las consolas o el software…”

                            p Entonces tomando en cuenta las definiciones anteriores podemos asegurar que en ISSD no existen goles Bugs, sino mas bien Glitches, el único bug que le he conocido tiene que ver cuando hay una falta el jugador va a buscar el balón, pero no regresa con él, frizeando (trabando) el juego. Aclarado ese punto debemos ahora avocarnos a las actitudes que tienen muchos de los Players, en algunos casos llegando al nivel del Scrub (entiéndase por Scrub, todo aquel que busca pretextos para sus derrotas, que nunca reconoce que le ganaron limpio y que finalmente todo lo que éste personaje no conoce es, en última instancia, trampa). Todos partimos como scrubs, la diferencia es que algunos no avanzan jamás y se quedan pegados en ésta etapa, el gamer pro, por otro lado, siempre está en busca de nuevos desafíos, aprendiendo cosas nuevas y mejorando cada vez más. Entonces ¿Cuál debería ser nuestra preocupación finalmente? Pues ser capaces de mejorar, de ir subiendo el nivel de competencia, es por ello entonces que mi principal preocupación es, justamente, llevar los torneos de ISSD a un nivel de mayor competencia. Con éste único fin en mente, el gamer pro, nunca pensara en banear jugadas, es más, se las rebuscara para sacarle provecho al máximo, porque las jugadas comunes son solo para jugadores de bajo nivel y está claro que un jugador pro no es de bajo nivel. Banear es una decisión que sólo se debe tomar cuando exista una situación de juego tal que: sólo uno de los players puede tomar ventaja de esa jugada o dos, que esa jugada sea tan “sucia” o tan poderosa que no permita al oponente reaccionar de ninguna forma, dicho de otra forma, sólo es válido banear cuando los jugadores no están en las mismas condiciones, a diferencia de otros juegos ISSD afortunadamente nos entrega equidad para ambos jugadores, por ende no debería haber baneos de ningún tipo, no obstante a lo largo de los torneos se han baniado una docena de goles (si es que no más), mermando inmensamente a jugadores bastante creativos y favoreciendo a un grupo de jugadores más bien mecánicos y monótonos. De aquí entonces postulare ciertos criterios que deberían considerarse:

                            ul.ul-reglas.custom-counter-3
                                li  Ésta es la regla de oro: Si sólo uno de los jugadores tiene acceso a una jugada en particular, ésta debe ser baneada.
                                li  De la anterior: Si aún así los dos jugadores pueden realizar el Glitch o Bug, esa jugada puede ser baneada si y sólo si esa jugada hace que el juego se trabe o en su defecto no se pueda terminar con el match. En éste apartado se considerara el Glitch del penalty, que si bien es cierto es una jugada que ambos jugadores puede realizar, se presta para causar marcadores no reales, impidiendo de esa forma, la continuidad de un match normal, por ende es un Glitch que se debe banear.
                                li  Siempre que algún jugador incurra en alguna de las jugadas prohibidas se le sancionará con un gol en contra, si la jugada es un gol se descontará.
                                li  Si un jugador incurre en 3 jugadas prohibidas durante un match se descalificara de la competencia.
                                li Finalmente como ya hemos hecho la aclaración respecto del Glitch y del Bug, debe quedar claro que los Bugs no se permiten, entendiéndose como bug lo definido anteriormente, de ésta forma los Glitch si deben ser permitidos, siempre y cuando estén protegidos por el 1º y 2º enunciado.
                            
                            p Ahora bien, sólo nos resta estandarizar los glitches, es decir, formalizar de una vez el reglamento de los torneos, para evitar peleas y rabietas innecesarias, acá les dejo algunas observaciones para determinar que jugadas son válidas:

                            ol.ul-reglas.custom-counter-3
                                li  Todo gol es válido desde un FK (Free Kick o tiro libre) o CK (Corner Kick o tiro de esquina): está debe ser nuestra principal arma contra jugadores que gustan de jugar a barridas, es el precio que deben pagar por no saber quitar el balón como un pro.
                                li  Del anterior se desglosa que: todo gol con súper-efecto (SF) es válido desde un FK y sólo desde un FK. No se justifica que el SF se utilice de forma directa (aunque no es difícil atajar un disparo con tanto efecto, es bastante molesto), es por ello que el SF se limitará como un recurso de creación de juego, nunca como término de una jugada, es decir como gol, exceptuando el caso avalado por el primer supuesto. Es deber de cada jugador saber que posición de su roster de jugadores es el que posee el SF (en el 1º player es el 3º jugador contando de abajo hacia arriba, en el player dos varía según el equipo, puede ser el 1º jugador sin contar al Keeper, como el 5º o 6º contando de arriba hacia abajo).
                                li  Todo gol después de mitad de cancha es válido, siempre que respete los demás enunciados.
                                li  De los goles derivados de una jugada detrás de la mitad del campo de juego: se considerará válido toda jugada detrás de la línea siempre y cuando sea un pase, ya sea directo o indirecto, es decir que si hay un jugador en el área chica y cabecea es válido, no así si el disparo es apuntado directamente al arco rival.
                                li  De los goles derivados de un mal saque del Keeper: se validará todo gol antes de las señales del Keeper, es decir que mientras el Keeper no indique con su mano o de los dos botes, cualquier gol es válido cuando se precipite a despejar con el brazo, de otra forma se penalizará al oponente descontando ese gol, por no respetar las reglas estipuladas en la presente propuesta.
                                li  De los goles Fantasma o Razz: todo gol razz o fantasma estará a prueba (es decir q se permitirá su uso para determinar si desbalancean o no los torneos), cabe señalar que éstos goles en particular funcionan de la siguiente manera: el Keeper esta programado para anticipar el lugar exacto del balón una vez que nosotros apretamos el botón de disparo, lo que no “sabe” distinguir es la velocidad y la distancia de ese disparo, entonces el disparo si va mas lento de lo normal, el Keeper se tirará antes para poder atajarla, el problema está en que el Keeper una vez que está en el suelo no puede atajar nada (a menos que se utilice el cancel), por ende el balón “atravesara al Keeper”, sin embargo no es del todo cierto, el Keeper solamente no puede atajar una vez que se dispone a levantarse del suelo. En éste enunciado se tomaran a prueba los siguientes goles: Wing bug, razz bug, taco bug y similares.
                                li  Finalmente una observación: todo gol es atajable con el Keeper, sólo basta con saber un par de cosas: el Keeper puede cancelar su estado de inercia una vez en el suelo, basta con cancelar apretando L+R, el timing es algo estricto, pero no es imposible, cancelando las tiradas podemos atajar los razz bug y similares, también podemos atajar de esta forma todo gol que tenga pique o rebote delante del Keeper, basta con tomarlo en el momento preciso y problema solucionado.


                    .main__section__article
                        .__article--reglas
                            h2 Goles prohibidos
                            p Se consideran goles prohibidos, los siguientes casos:
                            ol.custom-counter-2 
                                li.bg-white.p-2 
                                    h3.text-xl.font-bold.text-gray-800 Super curva
                                    br
                                    p Se considerá gol de super curva cuando se realice un gol realizado con un jugador específico  y el balón haga un efecto de curva de forma exagerada y que el GK no pueda moverse y seguir la animática del balón. 
                                    span.obs La super curva solo existe en el slot 8° del P1 o en el caso de p2 el slot sería el 6° 
                                    .main__section__article__video 
                                        span Video 1 de ejemplo de super curva
                                    .main__section__article__video 
                                        span Video 2 Otra variante de super curva
            include inc/footer.pug 
