//Variables js

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "./js/efects_gral.js";
//- -var js_urls = "./js/uris_headers.js";
-var base_style = "./css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la p치giana actual
-var meta_titlePage ="ISSDOnline 游볞 - Tips";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "郊율SSDOline informaci칩n para poder jugar en linea con otras personas este majestuoso cl치asico de snes";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd";
-var meta_ogImage = "./images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) M치s informaci칩n
<!DOCTYPE html>

html(lang="es")
    head
        include inc/head.pug
        
    body
        container(class="w-full m-auto")
            include inc/header.pug
            main
                h1(class="font-bold 2xl") Mejora tus habilidades
                include inc/footer.pug