//Variables js

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "./js/efects_gral.js";
-var js_urls = "./js/uris_headers.js";
-var base_style = "./css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la p谩giana actual
-var meta_titlePage ="ISSDOnline  - Tutoriales";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "ISSDOline informaci贸n para poder jugar en linea con otras personas este majestuoso cl谩asico de snes";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd";
-var meta_ogImage = "./images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) M谩s informaci贸n
<!DOCTYPE html>

html(lang="es")
    head
        include inc/head.pug  
    body(class="min-h-screen relative pb-20")
        #container
            include inc/header.pug
            main
                section.section-main
                    article(class="tuto_card w-[300px]")
                        a(class="hover:cursor-pointer" href="comojugarissdonline.html")
                            .tuto_box
                                figure
                                    img(class="w-full p-0 m-0" src="images/icon_tutorial.png", alt="imagen tutorial icon")
                                figcaption 
                                    h2 C贸mo jugar ISSD Online
                    article(class="tuto_card w-[300px]").hidden
                        a(class="hover:cursor-pointer" href="comojugarissdonline.html")
                            .tuto_box
                                figure
                                    img(class="w-full p-0 m-0" src="images/icon_tutorial.png", alt="imagen tutorial icon")
                                figcaption 
                                    h2 C贸mo jugar ISSD Online
                    article(class="tuto_card w-[300px]").hidden
                        a(class="hover:cursor-pointer" href="comojugarissdonline.html")
                            .tuto_box
                                figure
                                    img(class="w-full p-0 m-0" src="images/icon_tutorial.png", alt="imagen tutorial icon")
                                figcaption 
                                    h2 C贸mo jugar ISSD Online
                    article(class="tuto_card w-[300px]").hidden
                        a(class="hover:cursor-pointer" href="comojugarissdonline.html")
                            .tuto_box
                                figure
                                    img(class="w-full p-0 m-0" src="images/icon_tutorial.png", alt="imagen tutorial icon")
                                figcaption 
                                    h2 C贸mo jugar ISSD
        
        include inc/footer.pug
