//Variables js

//-var js_particles ="./js/particles.min.js";
//- -var js_nasa ="./js/nasa.js";
-var js_efects_gral = "./js/efects_gral.js";
//- -var js_urls = "./js/uris_headers.js";
-var base_style = "./css/output.css";
//- -var nasa_style = "./css/animations/nasa.css";

//Variables para metadatos de la p谩giana actual
-var meta_titlePage ="ISSDOnline  - Tutoriales";
-var meta_canonica = "https://www.issdonline.org/";
-var meta_descPage = "ISSDOline informaci贸n para poder jugar en linea con otras personas este majestuoso cl谩asico de snes";
-var meta_keyWordsPage = "issd, online, juegos retro, superstar soccer deluxe, retro snes, jugar en linea, torneos issd";
-var meta_ogImage = "./images/issdeluxe_online_banner.jpg";
//- -var style = "./css/style.css";
//- -var css_nasa = "./css/animations/nasa.css";
-var titulos = []
-var descripciones = []
//- mixin ejemplo(imagen, titulos_, descripciones, url_servicio)
//-     .servicios__servicio
//-         img(src="images/servicios/"+imagen alt=titulo_serv)
//-         h3=titulos
//-         p=descripciones
//-         a.btn_mas_info(href=url_servicio title=titulo_serv) M谩s informaci贸n
<!DOCTYPE html>

html(lang="es")
    head
        include inc/head.pug
        
    body
        container(class="w-full m-auto")
            include inc/header.pug
            main
                section.section-mains
                    article.article-main 
                        h2(class="font-bold 2xl text-left text-red-issd") C贸mo jugar ISSD de forma online
                        p Para poder jugar contra otros jugadores necesitas 5 cosas:
                        ol.custom-counter.my-colors
                            li Una Computadora de escritorio o laptop.
                            li Internet, buena conexi贸n para evitar lag.
                            li El programa hamachi, link para descarga: #[b https://vpn.net/]
                            li Emulador Zsnesw versi贸n 1.42: #[b https://zsnes.com/index.php?page=files]
                            li Rom o juego (debe de ser la misma versi贸n que el que usar谩 tu oponente, mismo nombre de archivo y extensi贸n.
                        
                        p.overflow-hidden Link ROM ISSD versi贸n U: #[br] #[b https://romsmania.net/super-nintendo/rom-international-superstar-soccer-deluxe/]
                    
                        h3.mt-10 Videotutoriales
                        .videotutorial-min.my-colors
                            .content-img 
                                img(src="./images/varios/hamachi.jpg", alt="videotutorial instalaci贸n hamachi")
                            .title-videotutorial
                                span Instalaci贸n de Hamachi
                        .videotutorial-min.my-colors
                            .content-img 
                                img(src="./images/varios/zsnesw.jpg", alt="videotutorial instalaci贸n hamachi")
                            .title-videotutorial
                                span Instalaci贸n de Zsnesw 1.42
                    article.article-main 
                        h2(class="font-bold 2xl text-left text-red-issd") Otros archivos/ roms personalizados de  ISSD


            
            
            
            
            include inc/footer.pug