header(class="w-full bg-gradient-to-r from-green-600 via-lime-600 to-green-700 h-[450px] relative")
    //- .ima_bg(class="flex p-0 cover w-full box-content z-0")
    //-   img(src="./images/fondo_rayas_verdes.png")
    .cont_header.w-full.flex.gap-2.justify-around.align-middle(class="border-b-2 border-green-400 items-center z-10")
        .logo.p-2.flex.gap-2
            span(class="text-sky-100 font-bold text-2xl") ISSDOnline
        .menu.p-2
            .menu_burger
                .icon_burger  
                ul(class="flex gap-4 text-white text-lg")
                    li
                        a(class="hover:link-hover" href="./" alt="Inico") Home 
                    li
                        a(class="hover:link-hover" href="./tutoriales.html" alt="Tutopriales") Tutoriales 
                    li
                        a(class="hover:link-hover" href="./tips.html" alt="Tips") Tips 
                    li
                        a(class="hover:link-hover" href="./enlaces.html" alt="Enlaces") Links
                    li
                        a(class="hover:link-hover" href="./faq.html" alt="FAQ") FAQ
                    li
                        a(class="hover:link-hover" href="./reglamento.html" alt="Reglamento") Reglamento

    .hero(class='max-md:block max-md:p-1 max-w-7xl flex align-middle justify-center self-center p-10 m-auto')
        .text-main.self-center.justify-center.items-center.m-auto.p-2(class='w-8/12 max-md:w-full max-md:text-center')
            h1.text-4xl.text-center.font-bold.leading-normal.text-amber-300 INTERNATIONAL SUPERSTAR SOCCER DELUXE #[span(class="text-4xl text-amber-100") ONLINE]
            //- .ima-main.flex(class='w-8/12 max-md:w-full')
            //-   img.flex.m-auto(src='./images/issdeluxe_online_banner.jpg' alt='banner juego international superstar soccer deluxe' class='opacity-60')
        .hero__icons_bar(class="w-full m-auto p-2 absolute z-10 bg-[#7ed572] bottom-0 h-30 grid grid-cols-5 justify-items-center")
            .hero__icon(class="")
                figure
            .hero__icon(class="")
                figure
            .hero__icon(class="")
                figure
            .hero__icon(class="")
                figure
            .hero__icon(class="")
                figure
