include icomoon-svg.pug
header(class="lg:w-full md:relative bg-gray-300")
    //- .ima_bg(class="flex p-0 cover w-full box-content z-0")
    //-   img(src="./images/fondo_rayas_verdes.png")
    .cont_header(class="bg-red-500 border-b-1 border-red-500  items-center xl:w-[1280px] m-auto w-full flex justify-between align-middle relative mb-0 left-0 right-0 top-0 bottom-0 h-12 ")
        .logo(class="absolute h-12 items-center flex left-4 top-0 z-10  ease duration-[0.5s]")
            a(class="h-12" href="./index.html" alt="Inico") 
                span(class="text-white font-bold text-3xl align-middle h-12") ISSDOnline
        .icon-menu(class="absolute h-12 items-center flex right-4  pointer z-10  ease duration-[0.5s] selection top-0 text-white")
            svg.icon.icon-menu.text-white
                use(xlink:href='#icon-menu')
        .icon-tache(class="scale-0 absolute h-12 items-center flex right-4  pointer z-10  ease duration-[0.5s] selection top-0 text-white")
            svg.icon.icon-cross.text-white
                use(xlink:href='#icon-cross')
        nav
            ul(class="shadow-menu menu text-white text-lg t-0 pt-5 right-[-100vw] pointer top-5 w-3/4 bg-red-issd/75  fixed z-[5] ease duration-[0.6s] mt-6 pl-5")      
                li(class='pointer my-1 mx-auto')
                    a(class="hover:link-hover" href="./" alt="Inico") Home 
                li(class='pointer my-1 mx-auto')
                    a(class="hover:link-hover" href="./como-jugar-issd-online.html" alt="como jugar issd online") Como jugar
                li(class='btn_tips pointer my-1 mx-auto relative')
                    a(class="hover:link-hover block w-full" href="./tips.html" alt="tips") Tips
                    //- a Tips #[svg(class='w-2.5 h-2.5 ml-2.5' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 10 6')path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4')]       
                    ul(class="")
                        li(class="w-full h-full flex justify-center items-center")
                            a.block.px-4.py-2(href='./tips/tipos-de-goles.html' title="tipos de goles issd" class='w-full h-full hover:bg-gray-100/25 dark:hover:bg-gray-600 dark:hover:text-white') Tipos de goles
                        li(class="w-full h-full flex justify-center items-center")
                            a.block.px-4.py-2(href='#' class='w-full h-full hover:bg-gray-100/25 dark:hover:bg-gray-600 dark:hover:text-white') Mejora tu defensa
                        li(class="w-full h-full flex justify-center items-center")
                            a.block.px-4.py-2(href='#' class='w-full h-full hover:bg-gray-100/25 dark:hover:bg-gray-600 dark:hover:text-white') GK
                        li(class="w-full h-full flex justify-center items-center")
                            a.block.px-4.py-2(href='#' class='w-full h-full hover:bg-gray-100/25 dark:hover:bg-gray-600 dark:hover:text-white') Balón parado
                        li(class="w-full h-full flex justify-center items-center")
                            a.block.px-4.py-2(href='#' class='w-full h-full hover:bg-gray-100/25 dark:hover:bg-gray-600 dark:hover:text-white') Estratégias
                    //- a(class="hover:link-hover" href="./tips.html" alt="Tips") Tips 
                li(class='pointer my-1 mx-auto')
                    a(class="hover:link-hover" href="./rankings.html" alt="Ranking") Ranking ISSD
                li(class='pointer my-1 mx-auto')
                    a(class="hover:link-hover" href="./reglamento.html" alt="Reglamento") Reglamento
                li(class='pointer my-1 mx-auto')
                    a(class="hover:link-hover" href="./faq.html" alt="FAQ") FAQ
                li(class='pointer my-1 mx-auto')
                    a(class="hover:link-hover" href="./links.html" alt="Links") Links
