header(class="w-full h-[450px] relative")
    //- .ima_bg(class="flex p-0 cover w-full box-content z-0")
    //-   img(src="./images/fondo_rayas_verdes.png")
    .cont_header.w-full.flex.gap-2.justify-around.align-middle(class=" bg-red-issd/80 border-b-2 border-red-issd items-center xl:w-[1280px] m-auto")
        .logo.p-2.flex.gap-2
            span(class="text-yellow-issd font-bold text-2xl") ISSDOnline
        .menu.p-2
            .menu_burger
                .icon_burger  
                ul(class="flex gap-4 text-white text-lg")
                    li
                        a(class="hover:link-hover" href="./" alt="Inico") Home 
                    li
                        a(class="hover:link-hover" href="./tutoriales.html" alt="Tutoriales") Tutoriales
                    li
                        a(class="hover:link-hover" href="./rankins.html" alt="Rankins") Rankins 
                    li.relative
                        button#dropdownHoverButton.rounded-lg.px-4.text-center.inline-flex.items-center(data-dropdown-toggle='dropdownHover' data-dropdown-trigger='hover' data-dropdown-delay='200' type='button') Tips
                            svg(class='w-2.5 h-2.5 ml-2.5' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 10 6')
                                path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4')
                        #dropdownHover.z-10.hidden.bg-white.divide-y.divide-gray-100.rounded-lg.shadow.w-44(class='dark:bg-gray-700')
                            ul.py-2.text-sm.text-gray-700(class='dark:text-gray-200' aria-labelledby='dropdownHoverButton')
                                li
                                    a.block.px-4.py-2(href='#' class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white') Defender mejor
                                li
                                    a.block.px-4.py-2(href='#' class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white') Tipos de goles
                                li
                                    a.block.px-4.py-2(href='#' class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white') GK
                                li
                                    a.block.px-4.py-2(href='#' class='hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white') Balón parado

                        
                        //- a(class="hover:link-hover" href="./tips.html" alt="Tips") Tips 
                    li
                        a(class="hover:link-hover" href="./enlaces.html" alt="Enlaces") Links
                    li
                        a(class="hover:link-hover" href="./faq.html" alt="FAQ") FAQ
                    li
                        a(class="hover:link-hover" href="./reglamento.html" alt="Reglamento") Reglamento

    .hero(class='max-md:block max-md:p-1 max-w-7xl flex align-middle justify-center self-center p-10 m-auto ')
        .text-main.self-center.justify-center.items-center.m-auto.p-2(class='w-8/12 max-md:w-full max-md:text-center')
            h1.text-4xl.text-center.font-bold.leading-normal.text-yellow-issd INTERNATIONAL SUPERSTAR SOCCER DELUXE #[span(class="text-4xl text-red-issd/50") ONLINE]
            //- .ima-main.flex(class='w-8/12 max-md:w-full')
            //-   img.flex.m-auto(src='./images/issdeluxe_online_banner.jpg' alt='banner juego international superstar soccer deluxe' class='opacity-60')
        .hero__icons_bar(class="w-full m-auto p-2 absolute z-10 bg-red-issd/50 bottom-0 h-30 grid grid-cols-5 justify-items-center xl:w-[1280px]")
            .hero__icon(class="")
                figure
            .hero__icon(class="")
                figure
            .hero__icon(class="")
                figure
            .hero__icon(class="")
                figure
            .hero__icon(class="")
                figure
