.hero(class='max-md:block max-md:p-1 max-w-7xl align-middle justify-center self-center m-auto ')
    .text-main.self-center.justify-center.items-center.m-auto.p-2(class='w-8/12 max-md:w-full max-md:text-center')
        h1.text-4xl.text-center.font-bold.leading-normal.text-yellow-issd INTERNATIONAL SUPERSTAR SOCCER DELUXE #[span(class="text-4xl text-red-issd/50") ONLINE]
        //- .ima-main.flex(class='w-8/12 max-md:w-full')
        //-   img.flex.m-auto(src='./images/issdeluxe_online_banner.jpg' alt='banner juego international superstar soccer deluxe' class='opacity-60')
    .hero__img(class="flex w-full m-auto text-center justify-center")
        img(src="./images/varios/issdonline_campo.jpg" alt="captura juego issdeluxe" width="370" height="400" class="p-0 m-0 max-w-[400px]")
    .hero__icons_bar(class="hidden m-auto p-2 absolute z-10 bg-gray-300/50 bottom-0 h-30 md:grid md:grid-cols-5 justify-items-center xl:w-[1280px]")
        .hero__icon(class="")
            figure
        .hero__icon(class="")
            figure
        .hero__icon(class="")
            figure
        .hero__icon(class="")
            figure
        .hero__icon(class="")
            figure