//  The core Firebase JS SDK is always required and must be listed first 
//- script(src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js") 
script(src="https://www.gstatic.com/firebasejs/8.9.1/firebase.js")
script(src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js")

//
   TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries 