@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
.my-colors{
    --primary-issd-red: rgb(231 55 36 / 0.8);
}

@layer components {
    .link-hover{
        cursor: pointer;
        background-color:rgb(247, 60, 60);
        display: flex;
        width: 100%;
        padding-left: 10px
    }
}

/*@applys*/
.btn_boxmain{
    @apply cursor-auto flex hover:cursor-pointer;
}
.boxmain{
    @apply rounded-lg bg-gray-300/70 block md:inline-block w-full;
}
.hero__icon{
    @apply w-1/5 p-0 grid place-content-center;
}
.hero__icon figure{
    @apply w-[100px] h-[100px] ;
}
.welcome{
    @apply max-w-7xl align-middle justify-center self-center p-6 m-auto max-md:block max-md:p-1;
}
.boxmain .--box-h{
    @apply bg-blue-300 px-6 py-4 rounded-t-lg;
}
.boxmain .--box-text{
    @apply px-6 py-4 rounded-b-lg text-xl;
}
.boxmain .--box-h{
    @apply text-2xl font-semibold m-auto mb-6 text-left text-red-issd;
}
.boxmain .--box-h:hover{
    @apply bg-red-300 text-gray-700 text-center;
}
.section-main {
    @apply flex w-full text-left items-center gap-4 align-middle justify-center self-center p-4 m-auto xl:w-[1280px];
}
.section--cards {
    @apply lg:grid w-full text-center items-center gap-4 justify-between md:items-baseline md:p-6 m-auto xl:w-[1280px] lg:grid-cols-3;
}
.welcome__article{
    @apply w-full p-2 md:p-6 content-center  justify-center;
}
.article-main {
    @apply w-full text-left items-center gap-4 align-middle justify-center self-center p-4 m-auto bg-gray-300/50;
}
.is-active {
    @apply right-0;
}





/*Vainilla css*/
/* html {
    font-size: 62.5%; 
} */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
  
body {
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 0;
}
  
img {
    border: 0;
    padding: 0; 
}
main{
    width: 100%;
    margin-top: 2rem;
}
.shadow-menu{
    box-shadow: -2px 1px 3px 0.5px rgba(20,20,20,.6);
    border-bottom-left-radius: 10px;     
}
.btn_tips ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    transform: translateY(-10px);
    transform: translateX(-10px);
    position: absolute;
    right: 0;
    left: 0;
  }

  .btn_tips ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn_tips:hover ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
    transform: translateX(20px);
    position: initial;
  }
.quotaOpen::before{
    content:'';
}

.myq::before{
    display: inline-flex;
    content: "«";
    margin-right: 8px;
    background-color: #E73724;
    font-size: 3rem;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    color: #fff;
    font-family: Gordita, sans-serif;
    left: 0;
    position: absolute;
    line-height: 1;
    top: 0;
}
.myq::after{
    display: inline-flex;
    content: "»";
    margin-left: 8px;
    background-color: #E73724;
    font-size: 3rem;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    color: #fff;
    font-family: Gordita, sans-serif;
    right: 0;
    position: absolute;
    line-height: 1;
    bottom: 0;
}
.custom-counter {
    counter-reset: cero-count;
    padding-left: 40px;
    overflow: hidden;
  }
  .custom-counter li {
    counter-increment: cero-count;
    margin: 16px 0 ;
    position: relative;
    text-align: left;
    box-sizing: border-box;
  }
.custom-counter li::before {
    content: counter(cero-count);
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    color: #fefefe;
    background-color: var(--primary-issd-red);
    text-align: center;
    box-shadow: 1px 1px 0 #999;
  }

  .videotutorial-min{
    padding: 1rem;
    display: block;
    margin-top: 1rem;
  }
  .title-videotutorial{
    font-size: 1.2rem;
    text-align: center;
    color: var(--primary-issd-red);
    font-weight: bold;
  }


